.skeleton{
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @keyframes skeleton-loading {
      0%{
          background-color: hsl(200, 20%, 70%);
      }
      100%{
          background-color: hsl(200, 20%, 95%);
      }
  }

  
  body {
    background: #F0F0F0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border: 2px solid #333333;;
   
}
.card__link {
    color: #333333;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.card__link:hover {
    text-decoration: underline;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}
.header {
    background-color: #cbb28e;
}

  .card-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;  }
  .card-container:hover .card {
    opacity: .7;
    cursor: pointer;
    filter: grayscale(1);
  }
  .card-container .card {
    margin: 10px;
    width: calc(100% / 3 - 20px);
    float: left;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.05);
    background: #FFF;
    -webkit-transition: .3s all ease;
    transition: .15s all ease;
  }
  .card-container .card:hover {
    box-shadow: 0 0 8px 3px rgba(0,0,0,.15);
    transform: scale(1.025);
    opacity: 1;
    filter: grayscale(0);
    transition: .35s all ease;
  }
  .card-container .card img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .card-container .card .content {
    padding: 15px 20px;
  }
  .card-container .card h3 {
    font: 2.8rem/3.4rem 'Bree Serif', serif;
    padding: 0;
    margin: 0 0 10px;
    letter-spacing: -.075rem
  }
  .card-container .card p {
    color: #888;
    padding: 0;
    margin: 0;
    font: 400 1.6rem/2.2rem 'Open Sans script=all', sans-serif;
  }